<div class="bg-base-200 p-4 rounded-lg">
  <div class="flex items-start mb-2">
    <lucide-angular
      name="info"
      class="w-5 h-5 text-info mr-2 mt-0.5"
    ></lucide-angular>
    <p class="text-sm">
      Tu contraseña debe cumplir los siguientes requisitos:
    </p>
  </div>
  <ul class="text-xs space-y-2 ml-7">
    <li class="flex items-center">
      <lucide-angular
        [name]="requirements().length ? 'check' : 'x'"
        class="w-4 h-4 mr-2"
        [ngClass]="requirements().length ? 'text-success animate-success' : 'text-error'"
      ></lucide-angular>
      Al menos 8 caracteres
    </li>
    <li class="flex items-center">
      <lucide-angular
        [name]="requirements().uppercase ? 'check' : 'x'"
        class="w-4 h-4 mr-2"
        [ngClass]="requirements().uppercase ? 'text-success animate-success' : 'text-error'"
      ></lucide-angular>
      Al menos una letra mayúscula
    </li>
    <li class="flex items-center">
      <lucide-angular
        [name]="requirements().lowercase ? 'check' : 'x'"
        class="w-4 h-4 mr-2"
        [ngClass]="requirements().lowercase ? 'text-success animate-success' : 'text-error'"
      ></lucide-angular>
      Al menos una letra minúscula
    </li>
    <li class="flex items-center">
      <lucide-angular
        [name]="requirements().number ? 'check' : 'x'"
        class="w-4 h-4 mr-2"
        [ngClass]="requirements().number ? 'text-success animate-success' : 'text-error'"
      ></lucide-angular>
      Al menos un número
    </li>
    <li class="flex items-center">
      <lucide-angular
        [name]="requirements().special ? 'check' : 'x'"
        class="w-4 h-4 mr-2"
        [ngClass]="requirements().special ? 'text-success animate-success' : 'text-error'"
      ></lucide-angular>
      Al menos un carácter especial (&#64;$!%*?&)
    </li>
  </ul>
</div>
