<div class="space-y-4" [formGroup]="parentForm()">
  <div class="form-control">
    <label class="label">
      <span class="label-text">Contraseña</span>
    </label>
    <div class="relative">
      <input
        [type]="isPasswordVisible() ? 'text' : 'password'"
        formControlName="password"
        placeholder="••••••••••"
        class="input input-bordered w-full pl-10 pr-10 focus:outline-primary"
        [ngClass]="{
              'input-error':
                parentForm().get('password')?.invalid &&
                parentForm().get('password')?.touched
            }"
      />
      <div class="absolute left-3 top-1/2 transform -translate-y-1/2">
        <lucide-angular
          name="key"
          class="w-5 h-5 text-muted-foreground"
        ></lucide-angular>
      </div>
      <button
        type="button"
        (click)="togglePasswordVisibility()"
        class="absolute right-3 top-1/2 transform -translate-y-1/2"
      >
        <lucide-angular
          [name]="isPasswordVisible() ? 'eye-off' : 'eye'"
          class="w-5 h-5 text-muted-foreground hover:text-primary transition-colors"
        ></lucide-angular>
      </button>
    </div>

    <!-- Indicador de fortaleza de contraseña -->
    @if (passwordStrength()) {
      <password-strength-indicator [strength]="passwordStrength()" />
    }

    @if (parentForm().get('password')?.invalid &&
    parentForm().get('password')?.touched) {
      <label class="label">
            <span class="label-text-alt text-error">
              La contraseña debe cumplir con todos los requisitos
            </span>
      </label>
    }
  </div>

  <!-- Confirmar contraseña -->
  <div class="form-control">
    <label class="label">
      <span class="label-text">Confirmar contraseña</span>
    </label>
    <div class="relative">
      <input
        [type]="isConfirmPasswordVisible() ? 'text' : 'password'"
        formControlName="confirmPassword"
        placeholder="••••••••••"
        class="input input-bordered w-full pl-10 pr-10 focus:outline-primary"
        [ngClass]="{
              'input-error':
                parentForm().get('confirmPassword')?.invalid &&
                parentForm().get('confirmPassword')?.touched
            }"
      />
      <div class="absolute left-3 top-1/2 transform -translate-y-1/2">
        <lucide-angular
          name="key"
          class="w-5 h-5 text-muted-foreground"
        ></lucide-angular>
      </div>
      <button
        type="button"
        (click)="toggleConfirmPasswordVisibility()"
        class="absolute right-3 top-1/2 transform -translate-y-1/2"
      >
        <lucide-angular
          [name]="isConfirmPasswordVisible() ? 'eye-off' : 'eye'"
          class="w-5 h-5 text-muted-foreground hover:text-primary transition-colors"
        ></lucide-angular>
      </button>
    </div>
    @if (parentForm().get('confirmPassword')?.invalid &&
    parentForm().get('confirmPassword')?.touched) {
      <label class="label">
            <span class="label-text-alt text-error">
              @if(parentForm().get('confirmPassword')?.hasError('required'))
              {Por favor, confirma tu contraseña}
              @else if (parentForm().hasError('passwordMismatch'))
              {Las contraseñas no coinciden}
            </span>
      </label>
    }
  </div>

  <register-password-requirements [requirements]="passwordRequirements()" />

  <div class="form-control">
    <label class="label cursor-pointer justify-start gap-3">
      <input
        type="checkbox"
        class="checkbox checkbox-primary"
        [checked]="termsAccepted()"
        (change)="toggleTermsAccepted()"
        formControlName="termsAccepted"
      />
      <span class="label-text">
            Acepto los
            <a href="#" class="text-primary hover:underline"
            >términos y condiciones</a
            >
            y la
            <a href="#" class="text-primary hover:underline"
            >política de privacidad</a
            >
          </span>
    </label>
    @if (parentForm().get('termsAccepted')?.invalid &&
    parentForm().get('termsAccepted')?.touched) {
      <label class="label">
            <span class="label-text-alt text-error">
              Debes aceptar los términos y condiciones
            </span>
      </label>
    }
  </div>
</div>
