<div class="card bg-base-100 shadow-lg">
  <div class="card-body">
    <h2 class="card-title">Resumen del pedido</h2>

    <div class="space-y-4 mt-4">
      <!-- <div class="flex justify-between">
        <span>Subtotal</span>
        <span>{{ subtotal() | currencyPEN }}</span>
      </div> -->

      <div class="divider my-2"></div>

      <div class="flex justify-between text-lg font-bold">
        <span>Total</span>
        <span>{{ subtotal() | currencyPEN }}</span>
      </div>
    </div>

    <div class="card-actions mt-6">
      <a [routerLink]="['/checkout']" class="w-full">
        <button class="btn btn-primary w-full checkout-btn">
          Proceder al pago
        </button>
      </a>
    </div>

    <div class="flex flex-wrap gap-2 justify-center mt-4">
      <button class="btn btn-xs btn-soft btn-primary">PayPal</button>
      <button class="btn btn-xs btn-soft btn-info">Visa</button>
      <button class="btn btn-xs btn-soft btn-success">MasterCard</button>
      <button class="btn btn-xs btn-soft btn-warning">MercadoPago</button>
    </div>
  </div>
</div>
