.active-nav-link {
  position: relative;
  background-color: hsla(var(--p), 0.15) !important;
  color: hsl(var(--p)) !important;
  font-weight: 500;
}

.active-nav-link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: hsl(var(--p));
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.active-nav-link lucide-angular {
  color: hsl(var(--p)) !important;
}

.active-nav-link span {
  color: hsl(var(--p)) !important;
}

/* Modo oscuro */
:host-context([data-theme="dark"]) .active-nav-link {
  background-color: hsla(var(--p), 0.2) !important;
  color: hsl(var(--pc)) !important;
}

:host-context([data-theme="dark"]) .active-nav-link lucide-angular,
:host-context([data-theme="dark"]) .active-nav-link span {
  color: hsl(var(--pc)) !important;
}
