<div class="toast-container">
  @for (notification of notifications(); track notification.id) {
    <div
      @toastAnimation
      class="alert {{ getAlertClass(notification.type) }} shadow-lg max-w-md"
      role="alert"
    >
      <div class="flex w-full items-center justify-between">
        <div class="flex items-center">
          <lucide-angular
            [name]="getIcon(notification.type)"
            class="w-6 h-6 mr-2"
          ></lucide-angular>
          <span>{{ notification.message }}</span>
        </div>
        <button
          class="btn btn-ghost btn-xs btn-circle"
          (click)="close(notification.id)"
        >
          <lucide-angular name="x" class="w-4 h-4"></lucide-angular>
        </button>
      </div>
      <div class="toast-progress">
        <div
          class="progress-bar"
          [style.width.%]="notification.progress">
        </div>
      </div>
    </div>
  }
</div>
